// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$main_color: #b2d235;
$main_font_color: #ffffff;
$gray: #505353;
@font-face {
  font-family: "UTM";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/UTMBryantLG.ttf");
}

@font-face {
  font-family: "UTM_B";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/UTMBryantLG_B.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@mixin UTM($weight, $size, $line-height, $color, $letter-spacing) {
  font: $weight $size "UTM";
  color: $color;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@mixin OpenSans($weight, $size, $line-height) {
  font: $weight $size "Open Sans";
  line-height: $line-height;
}
