$main_color: #b2d235;
$main_font_color: #ffffff;
@font-face {
  font-family: "UTM";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/UTMBryantLG.ttf");
}

@font-face {
  font-family: "UTM_B";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/UTMBryantLG_B.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@mixin UTM($weight, $size, $line-height, $color, $letter-spacing) {
  font: $weight $size "UTM";
  color: $color;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@mixin OpenSans($weight, $size, $line-height) {
  font: $weight $size "Open Sans";
  line-height: $line-height;
}
